* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: TildaSans, Arial, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
    --main-white: #fff;
    --300-: 'TildaSansLight';
    --400-: 'TildaSansRegular';
    --500-: 'TildaSansMedium';
    --600-: 'TildaSansMedium';
    --700-: 'TildaSansBold';
    --800-: 'TildaSansExtraBold';
    --900-: 'TildaSansBlack';
    --bg-g: #f1f1f1;
    --text-c: #0e0e17;
    --main-black: #000000;

}





@font-face {
    font-family: 'TildaSansLight';
    src: url('..TildaSans-Light.eot');
    src: url('../fonts/TildaSans-Light.ttf') format('truetype'),
        url('../fonts/TildaSans-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TildaSans-Light.woff2') format('woff2'),
        url('../fonts/TildaSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'TildaSansRegular';
    src: url('../fonts/TildaSans-Regular.eot');
    src: url('../fonts/TildaSans-Regular.ttf') format('truetype'),
        url('../fonts/TildaSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TildaSans-Regular.woff2') format('woff2'),
        url('../fonts/TildaSans-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TildaSansMedium';
    src: url('../fonts/TildaSans-Medium.eot');
    src: url('../fonts/TildaSans-Medium.ttf') format('truetype'),
        url('../fonts/TildaSans-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TildaSans-Medium.woff2') format('woff2'),
        url('../fonts/TildaSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TildaSansMedium';
    src: url('../fonts/TildaSans-Semibold.eot');
    src: url('../fonts/TildaSans-Semibold.ttf') format('truetype'),
        url('../fonts/TildaSans-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TildaSans-Semibold.woff2') format('woff2'),
        url('../fonts/TildaSans-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'TildaSansBold';
    src: url('../fonts/TildaSans-Bold.eot');
    src: url('../fonts/TildaSans-Bold.ttf') format('truetype'),
        url('../fonts/TildaSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TildaSans-Bold.woff2') format('woff2'),
        url('../fonts/TildaSans-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TildaSansExtraBold';
    src: url('../fonts/TildaSans-ExtraBold.eot');
    src: url('../fonts/TildaSans-ExtraBold.ttf') format('truetype'),
        url('../fonts/TildaSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TildaSans-ExtraBold.woff2') format('woff2'),
        url('../fonts/TildaSans-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TildaSansBlack';
    src: url('../fonts/TildaSans-Black.eot');
    src: url('../fonts/TildaSans-Black.ttf') format('truetype'),
        url('../fonts/TildaSans-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TildaSans-Black.woff2') format('woff2'),
        url('../fonts/TildaSans-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

.header {
    padding-top: 12px;
}



a {
    text-decoration: none;
    outline: none;
}

input {
    text-decoration: none;
    border: none;
    outline: none;
    background-color: transparent;
}

.container {
    width: 1160px;
    margin: 0 auto;


}

.header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-inner svg {
    width: 141px;
    height: 50px;
}

header nav ul li {
    position: relative;
    float: left;
    list-style: none;
}

header nav ul li a {
    padding: 18px 20px;
    color: var(--main-white);
    font-family: var(--400-);
    font-size: 16px;
    display: block;
    text-decoration: none;
    white-space: nowrap;
}

header nav ul li .header-list__text {
    padding: 15px;
    color: var(--main-black);
    font-family: var(--400-);
    font-size: 14px;
    text-decoration: none;
    white-space: nowrap;
}

nav ul li ul {
    position: absolute;
    left: 0;
    width: 220px;
    background-color: white;
    display: none;
    height: 330px;
    border-radius: 1px;
}

nav ul li ul li {
    width: 100%;
}

nav ul li ul li ul {
    left: 219px;
    top: -93px;
    background-color: #efefef;
}


nav ul li ul li .second {
    top: -139px;
    background-color: #efefef;
}



nav ul li:hover>ul {
    display: initial;
}



.under-header {
    padding: 350px 0 237px;
    margin-bottom: 120px;
    position: relative;
    overflow: hidden;

}

.under-header__content {
    position: relative;
    z-index: 3;
}


.video__main {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
}

.under-header__bg {
    position: absolute;
    background-color: black;
    opacity: 0.6;
    z-index: 2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.video__main-big {
    width: 100%;
}

.header-wrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 90;

}

.header-wrap.active {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--main-white);
    border-bottom: 1px solid red;
    transition: 250ms linear;
}

.header-wrap.active .header-nav__link {
    color: var(--text-c);
}

.header-wrap.active .header-info__link {
    color: var(--text-c);
}

.header-wrap.active .header-list__textMain {
    color: var(--text-c);
}



.header-wrap.active .logo__letter {
    fill: var(--text-c)
}


.header-info__link.active {
    color: var(--text-c);
}

.header-nav__link.active {
    color: var(--text-c);
}




.header-nav__item:hover .header-nav__submenu {
    display: block;
}


.header-info__block {
    display: flex;
    flex-direction: column;
    text-align: right;
}

.header-info__link {
    font-size: 18px;
    font-weight: 400;
    color: var(--main-white);
    font-family: var(--400-);
    margin-bottom: 3px;
}


.under-header__container {
    display: flex;
    justify-content: space-between;
    width: 1160px;
    margin: 0 auto;

}

.under-header__block {
    display: flex;
    flex-direction: column;
}

.under-header__title {
    font-size: 40px;
    margin-bottom: 20px;
    color: var(--main-white);
    font-family: var(--700-);
}

.under-header__input {
    border-bottom: 1px solid var(--main-white);
    padding-bottom: 10px;
}

.under-header__description {
    font-size: 18px;
    font-weight: 400;
    color: var(--main-white);
    font-family: var(--400-);
}

.under-header__checkbox-text {
    color: var(--main-white);
    font-size: 14px;
    font-weight: 400;
    font-family: var(--400-);
    white-space: nowrap;
}



.under-header__block-form {
    display: flex;
    flex-direction: column;
}


.under-header__input-block {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.under-header__block-main {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;

}

.under-header__btn {
    color: var(--main-white);
    border: 1px solid #970825;
    border-radius: 0px;
    font-size: 16px;
    cursor: pointer;
    background-color: #970825;
    padding: 0px 36px;
    height: 50px;
    font-weight: 600;
    font-family: var(--600-);
    width: 250px;
    display: flex;
    align-items: center;

}

.under-header__tile {
    line-height: 28px;
    color: var(--main-white);
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 40px;
    font-family: var(--600-);
}

.information-btn {
    color: var(--main-white);
    border: 1px solid #970825;
    border-radius: 0px;
    font-size: 16px;
    cursor: pointer;
    background-color: #970825;
    padding: 0px 36px;
    height: 50px;
    font-weight: 600;
    font-family: var(--600-);
    width: 220px;
    display: flex;
    align-items: center;
    white-space: nowrap;
}


.footer__btn {
    color: var(--main-white);
    border: 1px solid #970825;
    border-radius: 0px;
    font-size: 16px;
    cursor: pointer;
    background-color: #970825;
    padding: 0px 36px;
    height: 50px;
    font-weight: 600;
    font-family: var(--600-);
    width: 220px;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.footer {
    padding: 45px 0;
}

.footer-logo__block {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-logo__block svg {
    margin-bottom: 20px;
}

.footer-column__block {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
}

.footer-column__link {
    line-height: 28px;
    color: var(--text-c);
    font-size: 18px;
    font-weight: 400;
    font-family: var(--400-);
}

.footer__wrap {
    background-color: var(--bg-g);
}

.footer__title {
    color: #970825;
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    opacity: 0.8;
    margin-bottom: 10px;
    font-family: var(--600-);
}

.footer__text {
    color: var(--text-c);
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    opacity: 0.8;
    font-family: var(--400-);
}

.main-content__cards {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.main-content__title {
    color: var(--text-c);
    font-size: 30px;
    line-height: 1.55;
    font-weight: 600;
    font-family: var(--600-);
}

.main-content__description {
    color: var(--text-c);
    font-size: 25px;
    line-height: 1.55;
    font-weight: 400;
    margin-bottom: 40px;
    font-family: var(--400-);
}


.main-content__wrap {
    position: relative;
    overflow: hidden;
    height: 280px;
    padding: 50px 70px;
}


.main-content__numbers {
    color: var(--main-white);
    font-size: 1.17rem;
    margin-bottom: 20px;
}

.main-content__citys {
    color: var(--main-white);
    font-size: 1.17rem;
}

.main-content__wrap:hover .main-content__pic {
    transform: scale(1.05);
    transition: all .3s ease-in-out
}

.main-content__container {
    display: grid;
    grid-template-columns: 590px 1fr;
    gap: 30px;
}

.adress__wrap {
    display: grid;
    grid-template-columns: 250px 250px;
    gap: 30px;
}

.card {
    margin-bottom: 90px;
}

.adress {
    margin-bottom: 100px;
    display: flex;
    gap: 30px;

}

.information__wrap {
    display: flex;
    justify-content: space-between;
}

.information {
    margin-bottom: 60px;
}

.information-title {
    line-height: 48px;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
    font-family: var(--700-);
}

.information-description {
    line-height: 23px;
    font-style: 16px;
    font-weight: 500;
    margin-bottom: 19px;
    font-family: var(--500-);
}

.information__blockFirst {
    display: flex;
    flex-direction: column;

}

.information__blockSecond {
    margin-bottom: 70px;
    display: grid;
    grid-template-columns: 115px 402px 40px
}

.information__text {
    line-height: 25px;
    font-size: 16px;
    font-family: var(--600-);
}

.video {
    margin-bottom: 60px;
}

.video__wrap {
    background-color: var(--bg-g);
}

.video__block {
    display: flex;
}

.video__title {
    line-height: 39px;
    color: var(--text-c);
    font-size: 25px;
    font-weight: 600;
    padding: 80px 80px 0px;
    text-align: center;
    font-family: var(--600-);
}

.video__text {
    line-height: 25px;
    color: var(--text-c);
    font-size: 16px;
    font-weight: 400;
    margin-left: 60px;
    font-family: var(--400-);
}

.reviews {
    margin-bottom: 60px;
}

.reviews__title {
    line-height: 48px;
    font-size: 40px;
    font-weight: 700;
    color: var(--text-c);
    margin-bottom: 40px;
    font-family: var(--700-);
}

.reviews__wrap {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.reviews__blockPic {
    display: flex;
    gap: 18px;
}

.reviews__img {
    border: 2px solid #e7e7e7;
    width: 218px;
}

.reviews__img:hover {
    transform: scale(1.01);
    cursor: zoom-in;

}

.adress-card__title {
    line-height: 39px;
    color: var(--text-c);
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 5px;
    font-family: var(--600-);
}

.adress-card__description {
    color: var(--text-c);
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
    font-family: var(--500-);
}

.main-content__pic {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

}

.main-content__pic img {
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
}

.help-form__wrap {
    background-color: var(--bg-g);
}

.help-form__title {
    color: var(--text-c);
    font-family: var(--600-);
    font-size: 25px;
    margin-bottom: 80px;
    width: 45%;
}

.help-form__wrap {
    margin-bottom: 60px;
    padding: 70px 0;

}

.help-form {
    position: relative;
}


.help-form__block-form {
    display: flex;
}


.help-form__input {
    font-size: 16px;
    font-family: var(--400-);
    border-bottom: 1px solid rgb(14, 14, 23);
    padding-bottom: 10px;
    margin-right: 20px;
    width: 285px;
}

.help-form__block-main {
    display: flex;
    flex-direction: column;
    margin-right: 100px;
}

.help-form__block-mainSecond {
    display: flex;
    align-items: center;
}

.help-form__checkbox-text {
    font-size: 14px;
    font-family: var(--400-);
    color: rgb(14, 14, 23);
}

.help-form__btn {
    color: var(--main-white);
    border: 1px solid #970825;
    border-radius: 0px;
    font-size: 16px;
    cursor: pointer;
    background-color: #970825;
    padding: 14px 12px;
    font-weight: 600;
    height: 50px;
    width: 250px;
    text-align: center;
    white-space: nowrap;
    font-family: var(--600-);
    z-index: 1;
}

.help-form__pic {
    position: absolute;
    top: -101px;
    right: 415px;
    width: 347px;
    height: 347px;
}


.under-header__second {
    background-image: url(../img/tamozennaya-ochistka.jpeg);
    padding: 97px 0 237px;
    position: relative;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.description__title {
    color: var(--text-c);
    font-size: 40px;
    line-height: 50px;
    font-family: var(--700-);
    margin-bottom: 15px;
}

.description {
    margin-bottom: 60px;
}

.description__text {
    line-height: 25px;
    color: var(--text-c);
    font-size: 16px;
    font-family: var(--500-);
}

.Two-ways__title {
    color: var(--text-c);
    font-size: 40px;
    line-height: 50px;
    font-family: var(--700-);
    margin-bottom: 60px;
}

.description-wrap {
    background-color: #fafafa;
    padding-top: 35px;

}

.Two-ways__block-left {
    display: flex;
    align-items: center;
    gap: 45px;
}

.Two-ways__block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 90px;
}


.Two-ways__block-title {
    color: var(--text-c);
    font-size: 20px;
    font-family: var(--600-);
    line-height: 31px;
}

.Two-ways__block-right {
    width: 55%;
}

.Two-ways__block-text {
    color: var(--text-c);
    font-size: 16px;
    font-family: var(--400-);
    line-height: 25px;
}

.Two-ways-wrap {
    background-color: var(--bg-g);
}

.Two-ways__block-titleSecond {
    font-size: 40px;
    font-family: var(--700-);
    line-height: 50px;
    color: var(--text-c)
}



.price__title {
    font-size: 40px;
    font-family: var(--700-);
    line-height: 50px;
    color: var(--text-c)
}

.price__text {
    line-height: 23px;
    color: var(--text-c);
    font-size: 16px;
    font-family: var(--500-);
}

.price__text-red {
    line-height: 23px;
    color: rgb(151, 8, 37);
    font-size: 16px;
    font-family: var(--500-);
}

.price-inner {
    display: flex;
    gap: 80px;
    align-items: center;
    margin-bottom: 70px;
}

.price__input {
    border-bottom: 1px solid var(--main-black);
    padding-bottom: 10px;
}

.price__checkbox-text {
    color: var(--text-c);
    font-size: 14px;
    font-weight: 400;
    font-family: var(--400-);
}

.menu-mob {
    display: none;
}

.under-header__containerSecond {
    display: flex;
    justify-content: space-between;
    width: 1160px;
    margin: 0 auto;

}

.under-header__titleSecond {
    font-size: 40px;
    margin-bottom: 20px;
    color: var(--main-white);
    font-family: var(--700-);
}

.under-header__descriptionSecond {
    font-size: 18px;
    font-weight: 400;
    color: var(--main-white);
    font-family: var(--400-);
    width: 60%;
}


@media screen and (max-width: 600px) {
    .container {
        width: 100%;
        max-width: 600px;
        padding: 0 20px;
        margin: 0 auto;
    }


    .icon-humb__line {
        background: #fff;
        width: 100%;
        height: 2px;
        border-radius: 2px;
        transition: transform 0.2s ease-in-out;
    }

    .icon-humb {
        width: 20px;
        height: 16px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;

    }

    .menu-humb__wrap {
        display: block;
        background-color: #970825;
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: -20px;
    }

    .menu-humb {
        width: 24px;
        min-width: 24px;
        height: 24px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .menu-humb.active .icon-humb {
        width: 19px;
    }



    .header {
        padding-top: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .video__main-big {
        width: auto;
        height: 100%;
    }

    nav {
        display: none;

    }

    .header-info__block {
        display: none;
    }

    .header-inner {
        padding-left: 70px;
    }

    .header-inner svg {
        width: 108px;
    }

    .under-header {
        padding: 264px 0 237px 80px;
        margin-bottom: 50px;
    }

    .under-header__title {
        font-size: 35px;
    }

    .main-content__title {
        font-size: 22px;
        line-height: 34px;
    }

    .main-content__description {
        line-height: 28px;
        font-size: 18px;
        max-width: 100%
    }

    .main-content {
        padding-left: 70px;
    }

    .main-content__container {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .video__block {
        flex-direction: column-reverse;
    }

    .main-content__pic {
        width: 100%;
    }

    .reviews__blockPic {
        display: grid;
        grid-template-columns: 1fr 1fr
    }

    .reviews__img {
        width: 100%;

    }

    .card {
        margin-bottom: 50px;
        margin-left: -20px;
        margin-right: -20px;
    }

    .video__title {
        line-height: 31px;
        font-size: 20px;
        text-align: left;
        padding: 60px 60px 0px;
        width: 77%;
        margin-bottom: 15px;
    }

    .video__text {
        line-height: 25px;
        font-size: 16px;
        width: 50%;
        margin-bottom: 10px;
    }

    .help-form__title {
        width: 100%;
        line-height: 28px;
        font-size: 18px;
    }

    .help-form__block-form {
        flex-direction: column;
    }

    .help-form__btn {
        width: 170px;
    }

    .help-form__pic {
        width: 153px;
        height: 153px;
        top: 303px;
        right: 223px;
    }


    .help-form__input-block {
        margin-bottom: 20px;
        gap: 30px;
        display: flex;
        flex-direction: column;
    }

    .help-form__block-main {
        margin-bottom: 20px;
    }

    .adress {
        flex-direction: column-reverse;
    }

    iframe {
        width: 320px;
        height: 326px;
    }

    .adress-card__title {
        line-height: 28px;
        font-size: 18px;
    }

    .adress-card__description {
        line-height: 25px;
        font-size: 16px;
    }


    .footer-logo__block {
        flex-direction: row-reverse;
        align-items: center;
        grid-column: span 2;
        justify-content: start;
        order: 1;
    }

    .footer_nav {
        order: 2;
    }

    .footer_contact {
        order: 3;
    }

    .footer_adress {
        order: 4;
    }

    .footer__inner {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }
    
    .help-form {
        padding: 0 40px;
    }

    .menu-mob {
        display: block;
        position: fixed;
        top: 0px;
        right: -1000px;
        overflow-y: auto;
        width: 58%;
        transition: 0.5s;
        height: 100vh;
        background-color: var(--main-white);
        padding-bottom: 53px;
    }


    .menu-mob__inner {
        padding: 20px;
        display: flex;
        flex-direction: column;
        position: relative;
        gap: 20px;
    }

    .menu-mob__link {
        font-size: 24px;
        font-family: var(--500-);
        color: #000000;

    }

    .menu-mob__link-active {
        color: #970825;
    }

    .menu-mob__button {
        color: #ffffff;
        border: 1px solid #ffffff;
        background-color: #970825;
        font-family: var(--500-);
        width: 200px;
        height: 50px;
        text-align: center;
        padding-top: 14px;
        padding-left: 14px;
        display: flex;
        margin-left: 20px;
    }

    .menu-mob.active {
        z-index: 80;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 700px;
    }



    .menu-mob__btn-close {
        position: absolute;
        top: 8px;
        right: 16px;
        font-size: 25px;
    }

    .under-header__containerSecond {
        display: flex;
        width: 100%;
        margin: 0 auto;
        max-width: 600px;
        flex-direction: column;
        padding: 66px;
    }

    .under-header__titleSecond {
        font-size: 25px;
        line-height: 31px;
    }

    .under-header__descriptionSecond {
        font-size: 14px;
        font-weight: 400;
        color: var(--main-white);
        font-family: var(--400-);
        line-height: 22px;
    }

    .under-header__tile {
        display: none;
    }

    .under-header__input-block {
        display: none;
    }

    .under-header__block-main {
        display: none;
    }

    .adress__wrap {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }

    .information__wrap {
        display: flex;
        flex-direction: column;
    }

    .information-title {
        line-height: 30px;
        font-size: 25px;
    }

    .information-description {
        line-height: 20px;
        font-size: 14px;
    }

    .information-btn {
        margin-bottom: 50px;
    }

    .information__dots {
        display: none;
    }

    .information__blockSecond {
        grid-template-columns: 1fr 5fr;
    }

}

@media screen and (max-width: 414px) {

    .container {
        max-width: 414px;

    }



    .under-header__title {
        line-height: 42px;
        font-size: 35px;
    }

    .under-header__block-form {
        display: none;
    }

    .under-header__container {
        width: 100%;
        max-width: 414px;
    }

    .header-inner {
        padding-left: 50px;
    }

    .under-header {
        padding: 263px 0 237px 50px;
    }

    .main-content__description {
        max-width: 84%;
    }

    .video__title {
        width: 100%;
    }

    .video__text {
        width: 70%;
    }

    .help-form__pic {
        top: 357px;
        right: 7px;
    }
}